* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.nav1 {
    height: 50px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.nav1 .left_side {
    float: left;
    display: flex;
    width: 463px;
    align-items: center;
    height: 100%;
    margin-left: 100px;
}

.nav1 .left_side button {
    height: 100%;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: none;
}

.nav1 i,
p {
    margin: 5px;
    font-size: smaller;
}

.nav1 i {
    color: #44f;
}

.nav1 .right_side {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    width: 333px;
    margin-right: 100px;
}

/* nav1 end  */


.nav2 {
    height: 80px;
    overflow: hidden;
}

.nav2 img {
    margin-left: 100px;
    height: 100%;
}

.nav2 .right_side {
    margin-right: 100px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}

.nav2 .right_side p,
button {
    margin: 12px;
}

.nav2 .right_side p {
    font-weight: bold;
    font-size: medium;
}

.nav2 .right_side i {
    margin-right: 5px;
}

.nav2 .right_side p span {
    font-weight: normal;
    font-size: smaller;
}

.nav2 button {
    box-sizing: border-box;
    background-color: rgb(29, 94, 199);
    border: 1px solid #fff;
    height: 38px;
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
    align-items: center;
    font-size: small;
}


/* nav3 start */
.nav3 {
    height: 50px;
    background-color: #123;
}

.nav3 ul {
    margin: 0 100px 0 100px;
}

.nav3 ul li {
    display: inline-block;
    margin: 8px;
}

.nav3 ul li a {
    font-weight: 500;
    color: #fff;
    font-size: smaller;
    list-style-type: none;
    text-decoration: none;
}

.nav3 ul #search_bar {
    float: right;
    border: 3px solid #226;
    border-radius: 10px;
}

.nav3 ul #search_bar i {
    color: #fff;
    margin: 5px 5px 0 10px;
}

.nav3 ul #search_bar input {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: smaller;
}

.nav3 ul #search_bar input:focus {
    outline: none;
}

/* body part start  */
.body {
    height: 800px;
    width: 100%;
    /* background-image: url(./wallstreet.jpeg); */
    /* box-shadow: inset 0 0 0 1000px rgba(36, 94, 187, 0.7); */
    background-image:
        /* top, transparent red */
        linear-gradient(to right,
            rgba(11, 57, 131, 0.918),
            rgba(36, 94, 187, 0.596)),
        /* your image */
        url(./wallstreet.jpeg);
}

.body .text_part {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -25%);
    /* line-height: 0; */
}

.body .text_part h1 {
    font-size: 80px;
    font-weight: bolder;
}

.body .text_part span{
    font-size: 40px;   
}